{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Registrar materia{% endblock titulo %}
{% block contenido %}
	<h1 class="text-white">Registrar una materia:</h1>
	<a href="{% url 'materia:listado' %}" class="btn btn-danger btn-lg" role="button">Cancelar</a>
	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
    	<button type="submit" class="btn btn-success btn-lg btn-block">Registrar materia.</button>
		{% endbuttons %}
	</form>
	</div>
{% endblock contenido %}
