{% extends 'general.html' %}
{% block titulo %} {{ materia.nombre }} {{ materia.año }}º {% endblock titulo %}
{% block contenido %}
	<h1 class="text-white">Detalles de la materia:</h1>
	<a href="{% url 'materia:listado' %}" class="btn btn-secondary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Volver</a>
	<a href="{% url 'materia:modificar' materia.id %}" class="btn btn-secondary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Modificar</a>
	<a href="{% url 'materia:borrar' materia.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;"z>Borrar</a>
	<div class="card text-white bg-dark mb-3" style="width: 100%;">
		<div class="card-header"><h5 class="card-title">{{ materia.nombre|capfirst }} de {{ materia.año }}º</h5></div>
		<div class="card-body">
			<p class="card-text">Fecha y hora a rendir: {{ materia.fecha_hora }}</p>
			<p class="card-text">Aula en la que se rendirá: {{ materia.aula }}</p>
		</div>
		<div class="card-footer">
			<p class="card-text">Profesores que evaluarán: {{ materia.profesores|capfirst }}</p>
		</div>
	</div>

{% endblock contenido %}