{% extends 'general.html' %}
{% block titulo %}Materias{% endblock titulo %}
{% block contenido %}
<div class="container">
	<h1 class="text-white">Todas las materias registradas:</h1>
	<a href="{% url 'materia:crear' %}"><button type="button" class="btn btn-outline-light btn-lg btn-block">Registrar una materia</button></a>
	</br>
	<div class="row">

	{% for materia in materias %}
	
	<div class="col-sm-6">
	<div class="card text-white bg-dark mb-3" style="width: 100%;">
		<div class="card-header">
			<a href="{% url 'materia:detalle' materia.id %}" style="a:link {color: white}"><h5 class="card-title">{{ materia.nombre|capfirst }} de {{ materia.año }}º</h5></a>
		</div>
		<div class="card-body">
			<p class="card-text">Fecha y hora a rendir: {{ materia.fecha_hora }}</p>
			<p class="card-text">Aula en la que se rendirá: {{ materia.aula }}</p>
		</div>
		<div class="card-footer">
			<p class="card-text">Profesores que evaluarán: {{ materia.profesores|capfirst }}</p>
		</div>
	</div>
	</div>

	{% endfor %}

	</div>
	<a href="{% url 'general' %}" class="btn btn-danger btn-lg btn-block" role="button">Volver a la pagina principal</a>
</div>
{% endblock contenido %}