{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Modificar {{ materia.nombre }} {{ materia.año }}º {% endblock titulo %}
{% block contenido %}

	<h1 class="text-white">Modificar {{ materia.nombre }} de {{ materia.año }}º </h1>
	<a href="{% url 'materia:detalle' materia.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Cancelar</a>
	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
    	<button type="submit" class="btn btn-success btn-lg btn-block">Modificar materia.</button>
		{% endbuttons %}
	</form>
	</div>
	
{% endblock contenido %}
