{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Borrar registro de {{ alumno_registrado.nombre|capfirst }} {{ alumno_registrado.apellido|capfirst }}{% endblock titulo %}
{% block contenido %}

	<h1 class="text-white">Borrar el registro del alumno: {{ alumno_registrado.nombre|capfirst }} {{ alumno_registrado.apellido|capfirst }}</h1>
	<a href="{% url 'alumnos_mesas:detalle_alumno' alumno_registrado.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Cancelar</a>
	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
			<p>¿Está seguro que quiere borrar a este alumno de la mesa de examen?</p>
		{% buttons %}
    		<button type="submit" class="btn btn-danger">Borrar registro del alumno.</button>
		{% endbuttons %}
	</form>
	</div>

{% endblock contenido %}
