{% extends 'general.html' %}
{% block titulo %} {{ alumno_registrado.nombre }} {{ alumno_registrado.apellido }} {% endblock titulo %}
{% block contenido %}
	<h1 class="text-white">Detalle del alumno:</h1>

	<a href="{% url 'alumnos_mesas:listado_alumnos' %}" class="btn btn-secondary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Volver</a>
	<a href="{% url 'alumnos_mesas:modificar_alumno' alumno_registrado.id %}" class="btn btn-secondary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Modificar</a>
	<a href="{% url 'alumnos_mesas:borrar_alumno' alumno_registrado.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Borrar</a>


	<div class="card text-white bg-dark mb-3" style="width: 100%;">
		<div class="card-header"><h5 class="card-title">{{ alumno_registrado.nombre|capfirst }} {{ alumno_registrado.apellido|capfirst }}</h5></div>
		<div class="card-body">
			<p class="card-text">DNI: {{ alumno_registrado.dni }}</p>
			<p class="card-text">Materia: {{ alumno_registrado.materia }}</p>
		</div>
		<div class="card-footer">
			<p class="card-text">Correo Electrónico (contacto): {{ alumno_registrado.correo_electronico }}</p>
		</div>
	</div>

{% endblock contenido %}