{% extends 'general.html' %}
{% block titulo %}Materias{% endblock titulo %}
{% block contenido %}
<div class="container">
	<h1 class="text-white">Todos los alumnos registrados:</h1>
	<a href="{% url 'alumnos_mesas:formulario_alumno' %}"><button type="button" class="btn btn-outline-light btn-lg btn-block">Registrar un alumno</button></a>
	</br>
	<div class="row">

	{% for alumno_registrado in alumnos_registrados %}
	
	<div class="col-sm-6">
	<div class="card text-white bg-dark mb-3" style="width: 100%;">
		<div class="card-header">
			<a href="{% url 'alumnos_mesas:detalle_alumno' alumno_registrado.id %}" style="a:link {color: white}"><h5 class="card-title">{{ alumno_registrado.nombre|capfirst }} {{ alumno_registrado.apellido|capfirst }}</h5></a>
		</div>
		<div class="card-body">
			<p class="card-text">DNI: {{ alumno_registrado.dni }}</p>
			<p class="card-text">Materia: {{ alumno_registrado.materia }}</p>
		</div>
		<div class="card-footer">
			<p class="card-text">Correo Electrónico (contacto): {{ alumno_registrado.correo_electronico }}</p>
		</div>
	</div>
	</div>

	{% endfor %}

	</div>
	<a href="{% url 'general' %}" class="btn btn-danger btn-lg btn-block" role="button">Volver a la página principal</a>
</div>
{% endblock contenido %}