{% extends 'general.html' %}
{% load bootstrap4 %}
{% block titulo %}Modificar {{ alumno_registrado.nombre }} {{ alumno_registrado.apellido }}{% endblock titulo %}
{% block contenido %}

	<h1 class="text-white">Modificar {{ alumno_registrado.nombre }} {{ alumno_registrado.apellido }} </h1>

	<div class="card text-white bg-dark mb-3" style="padding: 15px">
	<form action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
    	<button type="submit" class="btn btn-success btn-lg btn-block">Modificar registro del alumno.</button>
    	<a href="{% url 'alumnos_mesas:detalle_alumno' alumno_registrado.id %}" class="btn btn-danger btn-lg btn-block" role="button">Volver</a>
		{% endbuttons %}
	</form>
	</div>
	
{% endblock contenido %}
