{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">

  <title>Secretaría</title>

  <style>
    html, body {
      background-image: linear-gradient(#000000, #cccccc);

      background-size: 100%;
    }
  </style>

</head>
<body>
  <div style="min-height: 1000px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="{% url 'general' %}"><h1 class="h1" style="color: white;">Secretaría</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'materia:listado' %}" style="color: white;">Materia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'alumnos_mesas:listado_alumnos' %}" style="color: white;">Alumnos Registrados</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                {{ request.user.username|capfirst }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout'%}">Salir</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}" style="color: white;">Ingresar</a>
            </li>
          {% endif %}
        </ul>
      </div>
  </nav>
    <div class="contenido">
      <div class="container">
    {% block contenido %}
      <div class="row" style="margin-top: 5%">
        <div class="col-sm-6">
      	 <a href="{% url 'materia:listado' %}" class="btn btn-dark btn-lg btn-block" role="button" style="padding-top: 33%; padding-bottom: 33%;">Materias registradas</a>
        </div>
        <div class="col-sm-6">
      	 <a href="{% url 'alumnos_mesas:listado_alumnos' %}" class="btn btn-dark btn-lg btn-block" role="button" style="padding-top: 33%; padding-bottom: 33%;">Listado de alumnos registrados para mesa de examen</a>
        </div>
          <a href="{% url 'alumnos_mesas:formulario_alumno' %}" class="btn btn-dark btn-lg btn-block" role="button" style="padding-top: 5%; padding-bottom: 5%; margin-top: 30px; width:">Formulario para registro a mesa de examen</a>
      </div>
    {% endblock contenido %}
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>